{
  "env": {
    "commonjs": false,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:jsdoc/recommended"
  ],
  "plugins": ["jest", "prettier", "@babel", "jsdoc"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "requireConfigFile": false
  },
  "rules": {
    "space-before-function-parent": 0
  },
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  }
}
